/* GENERAL CSS RULES */


* {
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
  /* Display and flex-direction ensure background image covers desired area */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}


/* REUSABLE ELEMENTS */


/* CSS rules for page area between nav and footer */
.page-wrapper {
  margin: 1em 0;
  /* Padding-bottom matches margin-bottom applied to page-top */
  padding: 0 0 1em;
  height: 100%;
  background: rgba(254, 254, 254, 0.7);
}

.page-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Margin-bottom matches padding-bottom applied to page-wrapper */
  margin-bottom: 1em;
  border-bottom: 4px solid #f4f5f7;
  padding: 1em;
}

@media only screen and (min-width: 441px) {
  .page-top {
    padding: 1.5em 2em;
  }
}

.page-top-btns {
  display: flex;
}

.page-els-wrapper {
  padding: 0 1em;
}

/* CSS rules for unsuccessful RTK query responses e.g. isLoading, isError  */
.rtk-query-msg {
  margin: 1em auto 0;
}

/* CSS rules for styled buttons */
.window-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}

.window-close-icon {
  font-size: 1.6rem;
}

.rectangular-btn {
  border: none;
  border-radius: 10px;
  padding: 0.7em 1em;
  font-size: 1rem;
}

.floating-btns-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.floating-btn {
  margin: 1em;
  border: none;
  border-radius: 50px;
  width: 90vw;
  max-width: 300px;
  padding: 1em;
  font-size: 1rem;;
}

.blue-btn {
  background: #003566;
  color: #FEFEFE;
}

.blue-btn:hover {
  background: #001D3D;
}

.yellow-btn {
  background: #FFD60A;
}

.yellow-btn:hover {
  background: #FFC300;
}

.grey-btn {
  background: #f4f5f7;
}

.grey-btn:hover {
  background: #D6DAE2;
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  padding: 0.6em;
}

.expand-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  width: 100%;
  padding: 0.35em;
}

.btn-icon {
  font-size: 1.4rem;
}

/* CSS rules for modal forms */
.modal-form-overlay {
  position: fixed;
  /* Z-index prevents later elements from stacking above this overlay */
  z-index: 1;
  top: 0;
  left: 0;
  /* Display and align-items allow centering of modal */
  display: grid;
  align-items: center;
  overflow: scroll;
  height: 100dvh;
  width: 100vw;
  background: rgba(0, 8, 20, 0.7);
}

.closed-modal {
  display: none;
}

.modal-form-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  box-shadow: 0 0 4px #222222;
  border-radius: 8px;
  width: 480px;
  max-width: calc(100vw - 2em);
  background: #FEFEFE;
}

.modal-form-top,
.job-card-top,
.single-job-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0 0;
  padding: 0.8em;
  background: #FFD60A;
}

.modal-form-text-wrapper {
  margin: 1em 1em 0;
}

.modal-form-text-wrapper h4 {
  font-size: 1.2rem;
}

.modal-form-text-wrapper p {
  margin-top: 1em;
  text-align: justify;
}

.modal-form-wrapper form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.modal-form-wrapper label {
  margin-bottom: 0.5em;
  font-weight: 500;
  text-align: start;
  color: #7F8389;
}

.modal-form-wrapper label>span {
  color: #FF4300;
}

.modal-form-wrapper input,
.modal-form-wrapper textarea,
.modal-form-wrapper select {
  transition: 0.6s;
  margin-bottom: 1.1em;
  box-shadow: inset 0 0 2px #222222;
  border: none;
  border-radius: 6px;
}

.modal-form-wrapper input,
.modal-form-wrapper select {
  height: 2rem;
  padding-left: 0.6em;
}

.modal-form-wrapper textarea {
  padding: 0.6em;
  font-weight: 400;
}

.modal-form-wrapper input:focus {
  height: 2.2rem;
}

.modal-form-wrapper>form>p {
  margin-bottom: 1em;
  font-size: 0.9rem;
}

.modal-btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.modal-btn,
.modal-btn-small {
  border: none;
  height: 3em;
  font-size: 1rem;
}

.modal-btn {
  border-radius: 50px;
  width: 100%;
}

.modal-btn-small {
  border-radius: 10px;
  width: calc(50% - 0.5em);
}

.rtk-query-form-msg {
  margin-top: 1em;
  color: #FF4300;
}

/* CSS rules for hiding / showing elements on a narrow display */

@media only screen and (max-width: 440px) {
  .large-display-el {
    display: none;
  }
}

@media only screen and (min-width: 441px) {
  .small-display-el {
    display: none;
  }
}


/* COMMON COMPONENTS */


/* || Sidebar */

@media only screen and (min-width: 560px) {
  .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 559px) {
  .sidebar {
    position: absolute;
    /* Z-index needed to stack sidebar above positioned elements e.g. login  */
    z-index: 1;
    top: 0;
    /* Width minus box-shadow to ensure shadow is concealed */
    left: calc(-50vw - 30px);
    box-shadow: 0 0 30px #222222;
    height: 100%;
    width: 50vw;
    background: #001D3D;
    text-align: start;
    transition: 0.7s;
    font-size: 1.2rem;
    color: #FEFEFE;
  }

  .visible-sidebar {
    left: 0;
  }

  .sidebar ul {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 45vh;
  }

  .sidebar ul li {
    align-self: center;
  }
}


/* || Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  background: #000814;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  color: #FEFEFE;
  font-size: 1.1rem;
}

.yellow-icon {
  color: #FFC300;
}


/* || Nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.nav-icon {
  cursor: pointer;
  font-size: 3rem;
}

@media only screen and (min-width: 560px) {
  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav ul li:not(:last-child) {
    margin-right: 8vw;
  }

  .nav-icon {
    display: none;
  }
}

@media only screen and (max-width: 559px) {
  nav ul {
    display: none;
  }
}

@media only screen and (min-width: 441px) {
  nav {
    padding: 1.5em 2em;
  }
}


/* || NavMenu */

.nav-menu li a.active {
  text-decoration: underline;
}


/* PAGES */


/* || HOME */

/* For placeholder elements on pages with no current content. */
.temp-wrapper {
  margin: 5vh auto;
  box-shadow: 0 0 4px #222222;
  border-radius: 4px;
  width: 360px;
  max-width: 66vw;
  padding: 2em;
  background: #FEFEFE;
}

.temp-wrapper>*:not(:last-child) {
  margin-bottom: 16px;
}

.temp-wrapper span {
  text-decoration: underline;
  text-underline-offset: 2px;
}


/* || ADMIN */

/* || Login */

.login-wrapper {
  margin: 5vh auto;
  box-shadow: 0 0 4px #222222;
  border-radius: 4px;
  width: 360px;
  max-width: 66vw;
  padding: 2em;
  background: #FEFEFE;
}

.login-wrapper h2,
.login-wrapper p,
.login-form input,
.login-form p {
  margin-bottom: 32px;
}

.login-wrapper h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  transition: 0.6s;
  box-shadow: inset 0 0 2px #222222;
  border: none;
  border-radius: 4px;
  height: 3em;
  padding-left: 1em;
}

.login-form input:focus {
  height: 3.3em;
}

.login-form p {
  font-size: 0.9em;
  color: #FF4300;
}

.login-form button {
  border: none;
  border-radius: 50px;
  height: 3em;
  background: #FFD60A;
  font-size: 1rem;
}

.login-form button:hover {
  background: #FFC300;
}


/* || Dashboard */

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: fit-content;
}

/* Min-width is 980px (width of two divs) minus 8em (128px / 16px * 8) */
@media only screen and (min-width: 852px) {
  .dashboard-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
}

.dash-comp-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
  box-shadow: 0 0 4px #222222;
  border-radius: 8px;
  /* height: fit-content; */
  max-width: 480px;
  background: #FEFEFE;
}

.dash-comp-wrapper h3 {
  border-radius: 8px 8px 0 0;
  padding: 1.5em;
  background: #FFD60A;
}

.dash-comp-content {
  margin: 1.5em 1em 0.5em;
  overflow-wrap: break-word;
}

.dashboard-btn {
  margin: 1em auto;
  border: none;
  border-radius: 50px;
  height: 3em;
  width: calc(100% - 2em);
  background: #003566;
  font-size: 1rem;
  color: #FEFEFE;
}

.dashboard-btn:hover {
  background: #001D3D;
}


/* || UserProfile */

.user-profile-wrapper {
  /* Div with relative position to allow absolute positioning of open profile */
  position: relative;
}

.user-profile-btn {
  border: 1px solid #000814;
  background: #FEFEFE;
}

.user-profile-btn-clicked {
  box-shadow: inset 0 0 4px #222222;
}

.open-profile-wrapper {
  position: absolute;
  top: 50px;
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 40px #222222;
  border-radius: 14px;
  width: 140px;
  padding: 1em;
  background: #FEFEFE;
}

.open-profile-wrapper p {
  margin: 1em auto;
  max-width: 100%;
  font-size: 1.2rem;
  text-align: center;
  word-wrap: break-word;
}

.open-profile-btn {
  align-self: flex-end;
}


/* || Logout */

.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  padding: 0.6em 0.8em;
  background: #FFD60A;
  font-size: 0.95rem;
}

.logout-btn:hover {
  background: #FFC300;
}


/* || BusinessInfoDisplay */

.business-info-table>*:not(:last-child) {
  margin-bottom: 1em;
}

.business-info-row {
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
}

.business-info-icon {
  grid-column: 1;
  /* Ensures icon for address is centered between two cells */
  grid-row: span 2;
  justify-self: center;
  font-size: 1.1rem;
}

.business-info-row>p {
  grid-column: 2;
  margin-left: 5%;
  text-align: start;
}


/* || ServicesBoard */

.services-board-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Compare to dash-comp-wrapper */
.services-board-el,
.jobs-board-el {
  flex-grow: 1;
  margin: 1em;
  box-shadow: 0 0 4px #222222;
  border-radius: 8px;
  width: 380px;
  background: #FEFEFE;
}

.services-board-final-el {
  display: grid;
  align-items: center;
  flex-grow: 4;
  margin: 1em;
  border-radius: 4px;
  width: 380px;
  background: linear-gradient(135deg, rgba(0, 29, 61, 0.9), rgba(0, 29, 61, 1));
  color: #FEFEFE;
}

.services-board-final-el span {
  padding: 2em 0.5em;
  font-size: 3em;
  font-weight: 600;
}


/* || ServiceCard */

.service-wrapper {
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  height: 100%;
}

.service-wrapper-top {
  display: flex;
  flex-direction: column;
}

.service-wrapper img {
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  aspect-ratio: 16 / 9;
  max-height: 240px;
  width: 100%;
}

.edit-img-btn {
  position: absolute;
  top: 0.6em;
  right: 0.6em;
  box-shadow: 0 0 10px #222222;
  border: 3px solid #FEFEFE;
  background: #001D3D;
}

.edit-img-btn:hover {
  opacity: 0.7;
}

.edit-img-icon {
  font-size: 1.4rem;
  color: #FEFEFE;
}

.service-wrapper h3 {
  background: #FFD60A;
  padding: 0.8em;
  text-align: start;
}

.service-wrapper p {
  padding: 1.2em 0.8em;
  text-align: justify;
}

.service-btn-wrapper {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8em 0.8em;
}


/* || JobsBoard */

.service-wrapper-top span {
  font-weight: 600;
}

.jobs-board-btn {
  align-self: flex-end;
}


/* JobAdder */

#job-type-input {
  color: #7F8389;
}

/* Prevents disabled input from animating when selected */
#job-type-input:focus {
  height: 2rem;
}


/* JobCard */

.job-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: start;
}

.job-card-top>span,
.single-job-top>span {
  font-size: 1.15rem;
  font-weight: 500;
}

.job-card-content {
  padding: 1em 1em 0;
}

.job-card-info-row {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.job-card-info-row>p {
  margin-left: 5%;
}

.job-card-content>*:not(:last-child) {
  margin-bottom: 1em;
}


/* || SingleJob */

.single-job-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 2em 1em;
}

.single-job-wrapper {
  box-shadow: 0 0 4px #222222;
  border-radius: 8px;
  max-width: 720px;
  background: #FEFEFE;
  text-align: start;
}

.single-job-content {
  padding: 1em;
}

.single-job-content>*:not(:last-child) {
  padding-bottom: 1em;
}

.single-job-content h4 {
  font-size: 1.15rem;
  font-weight: 600;
}

.single-job-content h5 {
  font-size: 1.05rem;
  font-weight: 500;
}

.single-job-content h6 {
  margin-bottom: 0.2em;
  font-size: 0.95rem;
  font-weight: 400;
  color: #7F8389;
}

.single-job-btns-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
}

.single-job-lower-content {
  display: flex;
  flex-direction: column;
  border-top: 4px solid #f4f5f7;
  padding: 1em;
}

.single-job-lower-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* || JobImages */

.job-img-wrapper {
  position: relative;
  display: flex;
}

.job-img {
  object-fit: cover;
  aspect-ratio: 16 / 9;
  margin: 1em auto;
  border-radius: 4px;
  width: calc(100% - 1em);
}

.job-images-btns-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.delete-img-btn {
  position: absolute;
  bottom: 24px;
  right: 16px;
  box-shadow: 0 0 10px #222222;
  border: 3px solid #FEFEFE;
}

/* || Footer */

.scroll-btn {
  position: fixed;
  bottom: 7px;
  right: -72px;
  display: flex;
  transition: 0.8s;
  border: 4px solid #FEFEFE;
  border-radius: 25%;
  background: #000814;
  font-size: 4rem;
  color: #FEFEFE;
  opacity: 50%;
}

.visible-scroll-btn {
  right: 7px;
}

.scroll-btn:hover {
  opacity: 100%;
}