/* CSS RULES FOR HTML ELEMENTS */

:root {
  font-family: "Manrope", sans-serif;
  color: #000814;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  /* Prevent unexpected issues with display on mobile */
  color: inherit;
  font-weight: inherit;
}

input {
  /* Prevent unexpected issues with display on mobile */
  appearance: none;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4em;
  background: #000814;
}

footer {
  /* position: fixed;
  bottom: 0; */
  height: 5em;
  width: 100%;
  background: #FFD60A;
}

main {
  flex-grow: 1;
  /* padding-bottom: 5em; */
  background-image: url(/construction.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  min-height: 4em;
}

li {
  list-style-type: none;
}

textarea {
  resize: none;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

ul {
  padding: 0;
}